<div class="row">
    <div class="col-4"></div>
    <div class="col-4 ">
        <div class="container border   ">
            <img src="../../assets/bank logo.png" alt="">
            <input type="text" class="form-control mt-5 border border-3 rounded-pill" id="reg_name" placeholder="Username">
           
            <input type="text" class="form-control mt-5 rounded-pill" id="reg_acno" placeholder="Account Number">
            <input type="password" class="form-control mt-5 rounded-pill" id="reg_pswd" placeholder="Password">
            
            <button type="button "  onclick="register()" class="btn btn-primary mt-4  d-flex mx-auto btn-lg rounded-pill">Register</button> 
            <div class="link-2 "><a href="./signin.html">signin</a></div>
       
           
        </div>

        </div>
    </div>
    <div class="col-4"></div>


